.projectsBlock {
    background-color: #A4D5C3;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    margin: 0 0 30px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: capitalize;
}
.title h2 {
    font-weight: 400;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1005px) {
    .projects {
        justify-content: center;
    }
}