@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 25px, 1.2, 5px);
  text-transform: capitalize;
  position: relative;

  & h2 {
    margin: 0;
    font-weight: 400;
  }

  &::before {
    content: "";
    position: absolute;
    background: black;
    width: 55px;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



