.title {
  margin: 0 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: capitalize;
  position: relative;

  & h2 {
    margin: 0;
    font-weight: 400;
  }

  &::before {
    content: "";
    position: absolute;
    background: black;
    width: 55px;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



