.projectBlock {
    border: 1px solid;
    width: 400px;
    display: flex;
    flex-direction: column;
    height: min-content;

}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 300px;
    background-color: #f8caca;
    background-image: url("https://cms-assets.tutsplus.com/uploads/users/1199/posts/30670/preview_image/react.jpg");
    background-size: cover;
    background-position: center;
}
.img{
    background-color: #dce1fb;
}

.title {
    margin-left: 10px;

}

