@import "src/common/styles/sass/variables";

.skillsBlock {
  min-height: 60vh;
  background-color: $bgSecondColor;
  padding: 50px 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: space-between;
  }

  .skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width: 938px) {
      justify-content: center;
    }
  }
}


